*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --c_back_Color:rgb(1, 4, 24);
    --c_back_light:rgb(7, 17, 82);
    --c_back_highlight:aqua;
    --t_light_aqua_hover:aqua;
    --btn_light_back_color:aqua;
    --btn_light_hover_back_color:rgb(98, 255, 255);
    --btn_dark_txt_color:rgb(49, 62, 160);
    

}

body, nav{
    background-color: var(--c_back_Color);
    flex-direction: column;
}


.navLinks{
    padding:0 10px 0 10px;
    color: white;
    text-decoration: none;
    font-weight:600;
}
.navLinks:hover{
   animation: linkHover 1s ease-in forwards;
   text-decoration: underline;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff;
   
}
@keyframes linkHover{
    0%{}
    100%{
        color: var(--t_light_aqua_hover);}
   
}

.btn-my-light{
    background-color: var(--btn_light_back_color);
    padding: 6px 11px 6px 11px;
    margin: 3px;
    color: var(--btn_dark_txt_color);
    font-weight:700;
    border-radius: 20px;
    text-decoration: none;
}
.btn-my-light:hover{
    background-color: var(--btn_light_hover_back_color);
    box-shadow: 0px 0px 10px 0px var(--btn_light_hover_back_color);
}

.navBottomLine{
    margin-top: 4px;
    background-color: var(--c_back_light);
    height: 3px;
    flex-grow: 1;
    width: 100%;
}
.navBottomLine .light{
    width: 5%;
    background-color: aqua;
    box-shadow: 2px 2px 10px 5px aqua;
    height: 2px;
    border-radius: 1px;
    animation: navbarLight 60s ease-in-out infinite;
}
@keyframes navbarLight {
    0%{
        transform: translateX(0%);
        opacity: 0.1;
    }
    25%{

        opacity: 0.3;
    }
    50%{
        transform: translateX(1900%);
        opacity: 0;
    }
    75%{

        opacity: 0.3;
    }
    100%{
        transform: translateX(0%);
        opacity: 0.05;
    }
}
nav img{
    width: 200px;
}

/* common */

.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.defaultContent{
    height: 800px;
    background-color: brown;

}
nav{
    max-width: 1200px;
}
.wrap{
    max-width: 1200px;
    width: 100%;
}
.check{
    border: 1px solid red;
}